.App {
  text-align: center;
  max-width: 1500px;
  margin: 50px auto;
}

.upload-input {
  display: none;
}

.table {
  margin: 50px 0;
}

.table-head {
  background: #9d9d9d;
}

.not-valid-cell {
  background: #ff7474;
}

.alert-error {
  width: 500px;
  margin: 50px auto;
}
